<div class="main-container">
  <mat-card>
    <mat-card-header>
      <mat-card-title>Welcome to Pure Rose</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <p> From Pluralsight course: <a href="https://app.pluralsight.com/library/courses/angular-ngrx-getting-started" target="_blank">
        Angular NgRx: Getting Started</a> </p>
      <p> Originally developed by: <a href="http://www.bit.ly/DeborahKsBlog" target="_blank">Deborah Kurata</a> and
        <a href="https://duncanhunter.com.au" target="_blank">Duncan Hunter</a> </p>
    </mat-card-content>
    <mat-card-footer> </mat-card-footer>
  </mat-card>
</div>

