<mat-toolbar color="primary">
  <mat-toolbar-row>
    <span>Pure Rose</span>
    <span class="fill-remaining-space"></span>
    <div *ngIf="!isLoggedIn">
      <mat-icon class="toolbar-icon" aria-hidden="false">account_circle</mat-icon>
      <a class="toolbar-text" routerLink="/login"> <button mat-flat-button disableRipple color="primary"> Login </button></a>
    </div>

    <div *ngIf="isLoggedIn">
      <mat-icon class="toolbar-icon" aria-hidden="false">exit_to_app</mat-icon>
      <a class="toolbar-text"> <button mat-flat-button disableRipple color="primary" (click)="logout()"> {{ userName }} </button> </a>
    </div>
  </mat-toolbar-row>
</mat-toolbar>

<div>
  <button mat-button class="mat-menu-item" routerLinkActive="active" routerLink='/welcome'> Home </button>
  <button mat-button class="mat-menu-item" routerLinkActive="active" routerLink='/product'> Product </button>
</div>

<mat-divider></mat-divider>
